@namespace FrontendBlazor.Client.Pages

@page "/"

@rendermode InteractiveServer

@inject IShiftsService shiftService
@inject IEmployeesService employService

@using FrontendBlazor.Client.Models
@using FrontendBlazor.Client.Pages.Components
@using FrontendBlazor.Client.Services

<div class="row d-flex">
	<div class="col-3 justify-content-start">
		<h3>ShiftPlan</h3>
	</div>
	<div class="col-9 justify-content-end">
		<div class="btn-group" role="group">
			<AddEmployeeModal UpdateData="OnInitializedAsync"/>
			<RemoveEmployeeModal UpdateData="OnInitializedAsync" />
		</div>
	</div>
	<div>
		<SaveWorkModal OnSave=""/>
	</div>
</div>

<table class="table">
	<thead>
		<tr>
			<td>Hours</td>
			<td>Day</td>
			@foreach(var employ in employs)
			{
				<td>@employ.Name</td>
			}
		</tr>
	</thead>
	<tbody>
	@foreach(var day in days)
	{
	<tr class="@SetDayBackgroundColor(day)">
		<td>@day</td>
		<td>@day.DayOfWeek</td>
		@foreach(var employ in employs)
		{
			<ShiftComponent Date="@day" Employee="@employ" Shift="PickShiftFromList(day, employ)" OnShiftInsertOrUpdate="InsertOrUpdate" OnShiftRemoved="RemoveShift" />
		}

	</tr>
	}
	</tbody>
</table>

@code {
	protected override async Task OnInitializedAsync()
	{
		employs = (await employService.GetAll()).ToList();
		shifts = (await shiftService.GetAll()).ToList();
	}

	public List<Employee> employs = [];
	public List<Shift> shifts = [];

	private List<DateOnly> days => GenerateDays();
	private List<DateOnly> GenerateDays()
	{
		var daysList = new List<DateOnly>();
		for (int i = -7; i < 7; i++)
		{
			daysList.Add(DateOnly.FromDateTime(DateTime.Now.AddDays(i)));
		}
		return daysList;
	}
	private void InsertOrUpdate(Shift shift)
	{
		var existShift = shifts.FirstOrDefault(s => s == shift);
		if (existShift is null)
		{
			shifts.Add(shift);
		}
		else
		{
			shifts[shifts.IndexOf(existShift)] = shift;
		}
	}

	private void RemoveShift(Shift shift)
	{
		shifts.Remove(shift);
	}

	private async Task SaveWork()
	{
		shiftService.
	}

	private Shift? PickShiftFromList(DateOnly day, Employee employ)
	{
		return shifts.Where(s => s.Date == day && s.Employee == employ).FirstOrDefault();
	}

	private string SetDayBackgroundColor(DateOnly day)
	{
		return day.DayOfWeek switch
		{
			DayOfWeek.Saturday => "table-warning",
			DayOfWeek.Sunday => "table-danger",
			_ => string.Empty
		};
	}
}